body {
margin: 0;
overflow: hidden;
line-height: normal;
}
.SimpleScripts-Logo {
height: 81px;
flex: 1;
position: relative;
max-width: 100%;
overflow: hidden;
object-fit: cover;
}

.SimpleScripts-Overlay-Text {
position: absolute;
margin-top: 5px;
color: white;
font-size: 20px; 
z-index: 2; 
animation: blinkText 1s infinite alternate; 
text-shadow: 0 0 10px rgba(255, 255, 255, 0.7); 
}

@keyframes blinkText {
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}

.SimpleScripts-WBG {
background-color: rgba(255, 255, 255, 0.226) !important; 
}

.SimpleScripts-Logo-P {
width: 185px;
flex: 1;
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: flex-start;
padding: 0 42px 0 41px;
box-sizing: border-box;
}
.SimpleScripts-EU {
position: relative;
font-weight: 800;
margin-top: -10px;
display: inline-block;
}

.SimpleScripts-Moneywash {
position: relative;
font-weight: 800;
margin-top: 5px;
display: inline-block;
}
.SimpleScripts-EU {
width: 185px;
height: 21px;
flex-shrink: 0;
}
.SimpleScripts-Moneywash {
height: 14px;
min-width: 96px;
}

@keyframes SimpleScripts-Animation {
0% { width: 0; }
100% { width: 100%; }
}

#SimpleScripts-MoneywashButton {
background-color: green;
position: relative;
overflow: hidden;
}

#SimpleScripts-MoneywashButton .SimpleScripts-Loading {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 0;
background: linear-gradient(180deg, #12aa4c, rgba(10, 92, 14, 0.82));
animation: SimpleScripts-Animation 8s linear forwards; 
}

.money-wash-wrapper {
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: flex-start;
padding: 0 45px 0 44px;
font-size: 14px;
color: rgba(255, 255, 255, 0.75);
}
.SimpleScripts-Frame,
.SimpleScripts-Frame-Child {
overflow: hidden;
flex-shrink: 0;
}
.SimpleScripts-Frame {
align-self: stretch;
height: 155px;
border-radius: 43px 43px 0 0;
background-color: transparent;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
padding: 27px 20px 8px;
box-sizing: border-box;
gap: 2px;
}
.SimpleScripts-Frame-Child {
width: 538px;
height: 38px;
position: relative;
display: none;
max-width: 100%;
}
.SimpleScripts-Bargeld-Bild {
height: 27px;
width: 26px;
position: relative;
object-fit: cover;
z-index: 1;
}
.SimpleScripts-Bargeld-wrapper {
height: 27px;
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: flex-start;
padding: 0 52px 0 51px;
box-sizing: border-box;
}
.SimpleScripts-Bargeld,
.SimpleScripts-Bargeld-Text {
text-align: center;
position: relative;
font-weight: 800;
display: inline-block;
}
.SimpleScripts-Bargeld-Text {
height: 21px;
flex-shrink: 0;
min-width: 128px;
white-space: nowrap;
}
.SimpleScripts-Bargeld {
height: 17px;
min-width: 65px;
}
.SimpleScripts-Bargeld-Wrapper,
.SimpleScripts-Bargeld-Kreis {
display: flex;
align-items: flex-start;
justify-content: flex-start;
}
.SimpleScripts-Bargeld-Wrapper {
flex-direction: row;
padding: 0 32px;
font-size: 15px;
color: #fff;
}
.SimpleScripts-Bargeld-Kreis {
flex: 1;
border-radius: 116px;
background-color: rgba(7, 31, 117, 0.12);
border: 1px solid rgba(185, 185, 185, 0.51);
flex-direction: column;
padding: 21px 13px 43px;
gap: 9.5px;
}
.SimpleScripts-Frame-Item {
align-self: stretch;
height: 2px;
position: relative;
background-color: rgba(185, 185, 185, 0.19);
overflow: hidden;
flex-shrink: 0;
z-index: 1;
}
.SimpleScripts-Frame-Box,
.SimpleScripts-Frame-wrapper1 {
display: flex;
align-items: flex-start;
justify-content: flex-start;
}
.SimpleScripts-Frame-wrapper1 {
width: 89px;
flex-direction: column;
padding: 72px 0 0;
box-sizing: border-box;
}
.SimpleScripts-Frame-Box {
width: 246px;
flex-direction: row;
}

.SimpleScripts-Dreh-Bild {
position: absolute;
top: -46px;
left: -85px;
border-radius: 20px;
width: 89.4px;
height: 89.3px;
object-fit: contain;
z-index: 2;
transition: transform 0.5s ease-in-out; 
}

.rotate {
transform: rotate(360deg);
}

.SimpleScripts-IMG-wrapper {
align-self: stretch;
height: 2px;
position: relative;
background-color: rgba(185, 185, 185, 0.19);
z-index: 1;
cursor: pointer; 
}

.SimpleScripts-wrapper2 {
width: 89px;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
padding: 73px 0 0;
box-sizing: border-box;
}
.SimpleScripts-Schwarzgeld-Icon {
height: 26px;
width: 29px;
position: relative;
object-fit: cover;
}
.SimpleScripts-Schwarzgeld-wrapper {
height: 26px;
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: flex-start;
padding: 0 50px;
box-sizing: border-box;
}
.SimpleScripts-Schwarzgeld-Text,
.SimpleScripts-Schwarzgeld {
text-align: center;
position: relative;
font-weight: 800;
display: inline-block;
}
.SimpleScripts-Schwarzgeld-Text {
height: 21px;
flex-shrink: 0;
min-width: 128px;
white-space: nowrap;
}
.SimpleScripts-Schwarzgeld {
height: 17px;
min-width: 104px;
}
.SimpleScripts-Bargeld-Kreis2,
.SimpleScripts-Schwarzgeld-Wrapper {
display: flex;
align-items: flex-start;
justify-content: flex-start;
}
.SimpleScripts-Schwarzgeld-Wrapper {
flex-direction: row;
padding: 0 12px 0 13px;
font-size: 15px;
color: #fff;
}
.SimpleScripts-Bargeld-Kreis2 {
flex: 1;
border-radius: 116px;
background-color: rgba(7, 31, 117, 0.12);
border: 1px solid rgba(185, 185, 185, 0.51);
flex-direction: column;
padding: 21px 13px 43px;
gap: 10px;
}
.SimpleScripts-Frame-Group,
.SimpleScripts-Frame1,
.frame-wrapper {
display: flex;
flex-direction: row;
align-items: flex-start;
}
.SimpleScripts-Frame1 {
width: 246px;
justify-content: flex-start;
text-shadow: 0 0 10px rgba(255, 0, 0, 0.7); 
color: #9d0c0c;
}
.SimpleScripts-Frame-Group,
.SimpleScripts-Frame-wrapper {
max-width: 100%;
}
.SimpleScripts-Frame-Group {
flex: 1;
justify-content: space-between;
gap: 20px;
}
.SimpleScripts-Frame-wrapper {
align-self: stretch;
justify-content: flex-start;
padding: 0 62px 10px 58px;
box-sizing: border-box;
text-shadow: 0 0 10px rgba(7, 218, 17, 0.7); 
color: #0c9d24;
}
.SimpleScripts-Gebühren-Text {
position: relative;
font-weight: 800;
}
.SimpleScripts-gebührenText-wrapper {
align-self: stretch;
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: center;
padding: 0 20px 6px 27px;
}

.SimpleScripts-Angebot1-Text,
.SimpleScripts-Money-Bild {
position: relative;
z-index: 1;
}

.SimpleScripts-Angebot1-Text {
width: 93px;
margin-left: 5px;
height: 15px;
line-height: 20px;
font-weight: 800;
display: inline-block;
flex-shrink: 0;
}
.SimpleScripts-Money-Bild {
height: 43px;
width: 43px;
object-fit: cover;
}
.SimpleScripts-Money-wrapper {
height: 43px;
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: flex-start;
padding: 0 29px 0 22px;
box-sizing: border-box;
}
.SimpleScripts-50K {
height: 19px;
position: relative;
margin-left: 10px;
font-weight: 800;
display: inline-block;
min-width: 82px;
white-space: nowrap;
z-index: 1;
}
.SimpleScripts-Money-Bild {
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: flex-start;
padding: 0 0 7px;
}
.SimpleScripts-OhneGebühren-Text {
position: relative;
font-weight: 800;
display: inline-block;
min-width: 83px;
z-index: 1;
}
.SimpleScripts-Frame5,
.SimpleScripts-OhneGebühren-wrapper {
display: flex;
align-items: flex-start;
justify-content: flex-start;
}
.SimpleScripts-OhneGebühren-wrapper {
flex-direction: row;
padding: 0 0 0 11px;
font-size: 10px;
color: rgba(255, 255, 255, 0.7);
}
.SimpleScripts-Frame5 {
flex-direction: column;
gap: 11px;
font-size: 18px;
color: #fff;
}

.SimpleScripts-Angebot1:hover {
background-color: rgba(4, 179, 248, 0.363);
border: 3px solid rgb(0, 177, 221);
}

.SimpleScripts-Angebot1.selected, .SimpleScripts-Angebot1.hovered {
background-color: rgba(4, 179, 248, 0.363);
border: 3px solid rgb(0, 177, 221);
}

.SimpleScripts-Angebot2:hover {
background-color: rgba(4, 179, 248, 0.363);
border: 3px solid rgb(0, 177, 221);
}

.SimpleScripts-Angebot2.selected, .SimpleScripts-Angebot1.hovered {
background-color: rgba(4, 179, 248, 0.363);
border: 3px solid rgb(0, 177, 221);}

.SimpleScripts-Angebot3:hover {
background-color: rgba(4, 179, 248, 0.363);
border: 3px solid rgb(0, 177, 221);
}

.SimpleScripts-Angebot3.selected, .SimpleScripts-Angebot1.hovered {
background-color: rgba(4, 179, 248, 0.363);
border: 3px solid rgb(0, 177, 221);
}

.SimpleScripts-Angebot1 {
flex: 0.6842;
display: flex;
border-radius: 5px;
border: 3px solid rgba(255, 255, 255, 0.459);
background-color: rgba(255, 255, 255, 0.15);
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
padding: 12px 23px 7px;
box-sizing: border-box;
gap: 20px;
min-width: 114px;
}

.SimpleScripts-P45 {
width: 152px;
height: 160px;
position: relative;
border-radius: 12px;
display: none;
}

.SimpleScripts-Angebot2-Text {
flex: 1;
position: relative;
line-height: 16px;
font-weight: 800;
z-index: 1;
}
.SimpleScripts-Angebot2-wrapper {
align-self: stretch;
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: flex-start;
padding: 0 0 0 1px;
}
.SimpleScripts-Money-Bild2 {
height: 43px;
width: 43px;
position: relative;
object-fit: cover;
z-index: 1;
}
.SimpleScripts-Money2-wrapper {
height: 43px;
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: flex-start;
padding: 0 23px 0 23px;
box-sizing: border-box;
}
.SimpleScripts-250K {
height: 19px;
position: relative;
font-weight: 800;
display: inline-block;
min-width: 89px;
white-space: nowrap;
z-index: 1;
}
.SimpleScripts-250K-P {
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: flex-start;
padding: 0 0 7px;
}
.SimpleScripts-OhneGebühren-Text2 {
position: relative;
font-weight: 800;
display: inline-block;
min-width: 83px;
z-index: 1;
}
.SimpleScripts-Frame6,
.SimpleScripts-OhneGebühren-P {
display: flex;
align-items: flex-start;
justify-content: flex-start;
}
.SimpleScripts-OhneGebühren-P {
flex-direction: row;
padding: 0 0 0 7px;
font-size: 10px;
color: rgba(255, 255, 255, 0.7);
}
.SimpleScripts-Frame6 {
flex-direction: column;
gap: 11px;
font-size: 18px;
color: #fff;
}
.SimpleScripts-Frame-Child2,
.SimpleScripts-Angebot2 {
border-radius: 5px;
background-color: rgba(255, 255, 255, 0.15);
}
.SimpleScripts-Angebot2 {
flex: 0.6184;
display: flex;
flex-direction: column;
align-items: flex-start;
border: 3px solid rgba(255, 255, 255, 0.459);
justify-content: flex-start;
padding: 11px 29px 7px;
box-sizing: border-box;
gap: 20px;
min-width: 114px;
}
.SimpleScripts-Frame-Child2 {
width: 152px;
height: 160px;
position: relative;
display: none;
}
.SimpleScripts-Angebot3-Text {
flex: 1;
position: relative;
line-height: 15px;
font-weight: 800;
z-index: 1;
}
.SimpleScripts-Angebot3-wrapper {
align-self: stretch;
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: flex-start;
padding: 0 8px 0 1px;
}
.SimpleScripts-Money-Bild3 {
height: 43px;
width: 43px;
position: relative;
object-fit: cover;
z-index: 1;
}
.SimpleScripts-Money3-wrapper {
height: 43px;
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: flex-start;
padding: 0 27px 0 23px;
box-sizing: border-box;
}
.SimpleScripts-500K {
height: 19px;
position: relative;
font-weight: 800;
display: inline-block;
flex-shrink: 0;
min-width: 93px;
white-space: nowrap;
z-index: 1;
}
.SimpleScripts-Frame7 {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
gap: 10px;
font-size: 18px;
color: #fff;
}
.SimpleScripts-Angebot4-Text {
position: relative;
font-weight: 800;
display: inline-block;
min-width: 83px;
z-index: 1;
}
.SimpleScripts-OhneGebühren-P2 {
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: flex-start;
padding: 0 13px 0 6px;
font-size: 10px;
}

.SimpleScripts-Angebot3 {
align-self: stretch;
border-radius: 5px;
border: 3px solid rgba(255, 255, 255, 0.459);
background-color: rgba(255, 255, 255, 0.15);
flex-direction: column;
justify-content: flex-start;
padding: 11px 25px 8px;
gap: 19.5px;
}
.SimpleScripts-Frame4,
.SimpleScripts-Frame-wrapper4,
.SimpleScripts-Angebot3 {
display: flex;
align-items: flex-start;
}
.SimpleScripts-Frame-wrapper4 {
flex: 1;
flex-direction: column;
justify-content: flex-start;
padding: 1px 0 0;
box-sizing: border-box;
min-width: 114px;
}
.SimpleScripts-Frame4 {
align-self: stretch;
flex-direction: row;
justify-content: center;
padding: 0 0 7px;
gap: 60px;
font-size: 13px;
color: rgba(255, 255, 255, 0.7);
}

.SimpleScripts-Betrag {
text-align: center;
border: 3px solid rgba(255, 255, 255, 0.459);
align-self: stretch;
border-radius: 12px;
background-color: rgba(255, 255, 255, 0.15);
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: center;
padding: 0 20px 10px 34px;
box-sizing: border-box;
max-width: 100%;
font-size: 40px;
color: rgba(255, 255, 255, 0.52);
}
.SimpleScripts-UntereBetrag-Text {
position: relative;
font-weight: 800;
}
.SimpleScripts-UntereBetrag-wrapper {
align-self: stretch;
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: center;
padding: 0 20px 6px 26px;
}
.SimpleScripts-MoneyIcon {
height: 41px;
width: 48px;
position: relative;
object-fit: cover;
}
.SimpleScripts-Select-Offer {
height: 30px;
position: relative;
font-weight: 800;
display: inline-block;
min-width: 102px;
white-space: nowrap;
}
.SimpleScripts-MoneyFrame {
align-self: stretch;
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: flex-start;
gap: 12px;
}
.SimpleScripts-Geld-Nehmen-Button,
.SimpleScripts-Frame-wrapper5 {
font-size: 24px;
}
.SimpleScripts-Frame-wrapper5 {
width: 522px;
height: 47px;
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: center;
padding: 0 20px 6px;
box-sizing: border-box;
max-width: 100%;
color: #0c9d24;
}

.SimpleScripts-Geld-Nehmen-Button {
position: relative;
line-height: 31px;
font-weight: 800;
font-family: Poppins;
color: #fff;
text-align: left;
}
.besttigen-wrapper,
.SimpleScripts-Frame-wrapper6 {
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: center;
box-sizing: border-box;
max-width: 100%;
}
.besttigen-wrapper {
cursor: pointer;
border: 3px solid #0d7017;
transition: background-color 0.3s ease, transform 0.3s ease;
padding: 9px 20px;
background-color: rgba(14, 222, 85, 0.29);
width: 325px;
border-radius: 5px;
overflow: hidden;
flex-shrink: 0;
z-index: 1;
}
.besttigen-wrapper:hover {
transform: scale(1.03);
background-color: rgba(0, 196, 59, 0.29);
}
.SimpleScripts-Frame-wrapper6 {
align-self: stretch;
padding: 0 20px 17px 25px;
}
#progressBar {
display: none;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 5px;
background-color: #ccc;
z-index: 9999;
}
#progress {
height: 100%;
background-color: blue;
animation: progressAnimation 5s linear;
}
@keyframes progressAnimation {
from { width: 100%; }
to { width: 0%; }
}
.SimpleScripts-Info-Icon {
width: 18px;
height: 18px;
margin-top: -3px;
position: relative;
object-fit: cover;
z-index: 1;
}
.SimpleScripts-P34352 {
height: 22px;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
padding: 4px 0 0;
box-sizing: border-box;
}
.SimpleScripts-Wähleeinangebot-Text {
position: relative;
line-height: 20px;
font-weight: 800;
z-index: 1;
}
.SimpleScripts-P3435 {
flex-direction: row;
gap: 7px;
}
.SimpleScripts-Wähle-Angebot,
.SimpleScripts-Frame3,
.SimpleScripts-P3435 {
display: flex;
align-items: flex-start;
justify-content: flex-start;
max-width: 100%;
}
.SimpleScripts-Wähle-Angebot {
flex-direction: row;
padding: 0 38px;
box-sizing: border-box;
font-size: 16px;
}
.SimpleScripts-Frame3 {
flex: 1;
flex-direction: column;
gap: 3px;
}
.SimpleScripts-Box,
.SimpleScripts-Frame-wrapper3,
.SimpleScripts-Background {
display: flex;
align-items: flex-start;
box-sizing: border-box;
}
.SimpleScripts-Frame-wrapper3 {
align-self: stretch;
flex-direction: row;
justify-content: flex-start;
padding: 0 65px 0 58px;
max-width: 100%;
font-size: 15px;
color: rgba(255, 255, 255, 0.56);
}
.SimpleScripts-Box,
.SimpleScripts-Background {
overflow: hidden;
}
.SimpleScripts-Box {
width: 699px;
margin-top: -200px;
border-radius: 14px;
background: linear-gradient(180deg, #06114b, rgba(0, 0, 0, 0.82));
flex-direction: column;
justify-content: flex-start;
padding: 0 0 14px;
max-width: 100%;
}
.SimpleScripts-Background {
width: 100%;
position: relative;
background-color: #ffffff00;
flex-direction: row;
justify-content: center;
padding: 300px 20px;
letter-spacing: normal;
text-align: left;
font-size: 20px;
color: #fff;
font-family: Poppins;
}
@media screen and (max-width: 750px) {
.SimpleScripts-Frame-wrapper {
padding-left: 29px;
padding-right: 31px;
box-sizing: border-box;
}
.betrag {
font-size: 38px;
}
.SimpleScripts-Frame-wrapper3 {
padding-left: 29px;
padding-right: 32px;
box-sizing: border-box;
}
}
@media screen and (max-width: 675px) {
.SimpleScripts-Frame-Group {
flex-wrap: wrap;
}
.SimpleScripts-Frame4 {
flex-wrap: wrap;
gap: 60px 30px;
}
}
@media screen and (max-width: 450px) {
.SimpleScripts-Bargeld-Text,
.SimpleScripts-Schwarzgeld-Text,
.SimpleScripts-EU {
font-size: 16px;
}
.SimpleScripts-Angebot2,
.SimpleScripts-Angebot1 {
flex: 1;
}
.betrag {
font-size: 29px;
}
.SimpleScripts-Geld-Nehmen-Button,
.SimpleScripts-Select-Offer {
font-size: 19px;
}
}
